.container {
  background: rgb(2,0,36);
  background: linear-gradient(-135deg, rgb(2,0,36) 0%, rgb(11, 11, 94) 45%, rgb(85, 7, 137) 85%, rgb(18, 156, 184) 100%);
  color: #fffffff3;
  height: 100vh;
  
  padding: 0 1rem 2rem 1rem;
  text-align: center;
}

.header {
  margin: 0;
}

.gameGrid {
  display: grid;
  grid-gap: '1rem';
  grid-template-areas: ".     xTeam0       xTeam1       xTeam2"
                      "yTeam0 xTeam0yTeam0 xTeam1yTeam0 xTeam2yTeam0"
                      "yTeam1 xTeam0yTeam1 xTeam1yTeam1 xTeam2yTeam1"
                      "yTeam2 xTeam0yTeam2 xTeam1yTeam2 xTeam2yTeam2";

  grid-template-columns: 70px 80px 80px 80px;
  grid-template-rows: 80px 80px 80px 80px;
}

@media (min-width: 360px) {
  .gameGrid {
    grid-template-columns: 90px 90px 90px 90px;
    grid-template-rows: 90px 90px 90px 90px;
  }
}
@media (min-width: 460px) {
  .gameGrid {
    grid-template-columns: 110px 110px 110px 110px;
    grid-template-rows: 110px 110px 110px 110px;
  }
}

.innerGridItem {
  background-color: "";
  color: "#FFF";
  display: flex;
  overflow-wrap: break-word;
  overflow: ellipsis;
}
